<div class='mdk-drawer js-mdk-drawer' id='default-drawer' data-align='start'>
  <div class='mdk-drawer__content'>
    <div class='sidebar sidebar-light sidebar-left simplebar' data-simplebar>
      <div class='sidebar-heading sidebar-m-t'>Importers</div>

      <ul class='sidebar-menu'>
        <li class='sidebar-menu-item active'>
          <a class='sidebar-menu-button' href='<%= root_path %>'>
            <i class='sidebar-menu-icon sidebar-menu-icon--left material-icons'>dvr</i>
            <span class='sidebar-menu-text'>Purchases Imports</span>
          </a>
        </li>
      </ul>

      <div class='sidebar-heading sidebar-m-t'>Models</div>
      <ul class='sidebar-menu'>
        <li class='sidebar-menu-item active'>
          <a class='sidebar-menu-button' href='<%= purchases_path %>'>
            <i class='sidebar-menu-icon sidebar-menu-icon--left material-icons'>dvr</i>
            <span class='sidebar-menu-text'>Purchases</span>
          </a>
          <a class='sidebar-menu-button' href='<%= customers_path %>'>
            <i class='sidebar-menu-icon sidebar-menu-icon--left material-icons'>dvr</i>
            <span class='sidebar-menu-text'>Customers</span>
          </a>
          <a class='sidebar-menu-button' href='<%= itens_path %>'>
            <i class='sidebar-menu-icon sidebar-menu-icon--left material-icons'>dvr</i>
            <span class='sidebar-menu-text'>Itens</span>
          </a>
          <a class='sidebar-menu-button' href='<%= merchants_path %>'>
            <i class='sidebar-menu-icon sidebar-menu-icon--left material-icons'>dvr</i>
            <span class='sidebar-menu-text'>Merchants</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>